
.Container {
  padding: 40px 15px 150px 15px;
  background-color: var(--color-background);
}

.actions-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  z-index: 999;

}

.button-group {
 pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background-color: var(--color-input-background);
  padding: 12px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 88%;
  min-width: 280px;
  max-width: 400px;
}

.btn-cancel {
  background: none;
  border: none;
  color: var(--color-text);
  opacity: 0.6;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  flex: 1;
  text-align: center;
}

.btn-save {
  background-color: var(--color-primary-hover);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  text-align: left;
  line-height: 1.2;
}

.btn-save:active {
  transform: scale(0.98);
}

.btn-save span:last-child {
  font-weight: 700;
  font-size: 0.95rem;
}

.btn-save .material-symbols-outlined {
  font-size: 1.2rem;
  font-variation-settings: 'FILL' 0, 'wght' 400;
}
