<div class="Container">
  <app-analise-risco-form-nome-risco></app-analise-risco-form-nome-risco>
  <app-analise-risco-form-categoria></app-analise-risco-form-categoria>
  <app-analise-risco-form-responsavel-equipe></app-analise-risco-form-responsavel-equipe>
  <app-analise-risco-form-local-area></app-analise-risco-form-local-area>
  <app-analise-risco-form-nivel-impacto></app-analise-risco-form-nivel-impacto>
  <app-analise-risco-form-probabilidade></app-analise-risco-form-probabilidade>
  <app-analise-risco-form-score-risco></app-analise-risco-form-score-risco>
  <app-analise-risco-form-descricao-risco></app-analise-risco-form-descricao-risco>
  <app-analise-risco-form-medidas-controle></app-analise-risco-form-medidas-controle>
  <app-analise-risco-form-data-analise></app-analise-risco-form-data-analise>
  <app-analise-risco-form-data-revisao></app-analise-risco-form-data-revisao>
</div>
