.Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  min-width: 300px;
  padding: 35px 5px 15px 5px;
  background-color: var(--color-input-background);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

