.Container {
  position: fixed;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-input-background);
  top: 0;
  left: 0;
  gap: 15px;
  padding: 0 16px;
  width: 100%;
  height: 70px;
  z-index: 1000;
}

.Container span {
  font-size: 1.5rem;
  padding: 10px;
  color: var(--color-primary-hover);
}

.Container p {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px;
  color: var(--color-primary-hover);
}
