.Container {
  margin-bottom: 20px;
}

.Container-titulo {
  display: flex;
  align-items: center;
  max-width: 400px;
  padding: 0 16px;
  width: 100%;
  gap: 8px;
  font-weight: 500;
  color: var(--color-primary);
}

.Container-titulo .material-symbols-outlined {
  font-size: 18px;
}

.Container-option {
  margin: auto;
  max-width: 400px;
  width: 91.5%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  color: var(--color-primary);
}

.grid div {
  background: var(--color-background-light);
  padding: 16px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}
