<nav class="navbar">
  <button class="menu-btn" (click)="toggleMenu()" [class.active]="isMenuOpen">
    <span class="material-symbols-outlined">{{ isMenuOpen ? 'close' : 'dehaze' }} </span>
  </button>
   <div class="Container-logo"><img src="/assets/logo/logo-rmt.png" /></div>
  <div class="Container-icons">
    <button class="menu-btn" [class.active]="isBuscarOpen">
      <span class="material-symbols-outlined" (click)="toggleBuscar()"> search </span>
    </button>
    <button class="menu-btn" [class.active]="isPerfilOpen">
      <span class="material-symbols-outlined" (click)="togglePerfil()"> person </span>
    </button>
  </div>

  <ul [class.open]="isPerfilOpen" class="nav-perfil">
    <li><a href="#">Minha conta</a></li>
    <li class="red-text"><a href="#">Sair</a></li>
  </ul>

  <ul [class.open]="isMenuOpen" class="nav-links">
    <li>
      <a href="#">Visão Geral<span class="material-symbols-outlined"> chevron_right </span></a>
    </li>
    <li>
      <a href="#">Análises<span class="material-symbols-outlined"> chevron_right </span></a>
    </li>
    <li>
      <a href="#">Equipes<span class="material-symbols-outlined"> chevron_right </span></a>
    </li>
    <li>
      <a href="#">Autorizações<span class="material-symbols-outlined"> chevron_right </span></a>
    </li>
    <div class="Container-botton-links">
      <div>
        <a><span class="material-symbols-outlined"> info </span>Versão: 0.0.1</a>
      </div>
    </div>
  </ul>
</nav>

<div [class.open]="isBuscarOpen" class="search-container">
  <input
    type="search"
    placeholder="Buscar analise de risco..."
    [(ngModel)]="searchQuery"
    (input)="onSearch()"
    (keyup.enter)="onSearchEnter()"
    aria-label="Buscar no site"
  />
</div>
