.material-symbols-outlined{
  color: #303030;
  padding-right: 10px;
}

.page-background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* <-- Garante que ocupe a tela toda */
  box-sizing: border-box;
  /* <-- Impede que o padding empurre a tela */
  background: linear-gradient(180deg, #fac3a1 0%, #ffffff 30%);


}

.login-card {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.login-header {
  text-align: left;
  margin-bottom: 10px;
}

.page-title {
  font-size: 1.2rem;
  color: #242424;
  margin: 0;
  font-weight: bold;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.risco-logo {
  max-width: 170px;
  /* Ajuste conforme necessário */
  height: auto;
}

/* Container para inputs com ícones alinhados */
.input-with-icon {
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #ccc;
  /* Estilo de linha inferior */
  margin-bottom: 5px;
  /* Espaço para a label flutuante implícita */
  padding-bottom: 5px;
}

.input-with-icon .icon {
  color: #777;
  font-size: 1.3rem;
  margin-right: 10px;
}

.input-with-icon input {
  border: none;
  flex: 1;
  padding: 8px 0;
  font-size: 0.95rem;
  color: #333;
}

.input-with-icon input:focus {
  outline: none;
  border-bottom-color: #d2a679;
  /* Cor de destaque ao focar */
}

/* Grupo para o campo de senha e link */
.password-field-group {
  margin-bottom: 30px;
}

.forgot-password-container {
  text-align: right;
  margin-top: 3px;
}

.forgot-password-link {
  color: #888;
  font-size: 0.8rem;
  text-decoration: none;
}

.btn-primary-login {
  width: 100%;
  padding: 12px;
  background-color: #d2a679;
  color: #333;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.2s;
}

.login-footer {
  margin-top: auto;
  text-align: center;
  font-size: 0.85rem;
  color: #666;
  padding-top: 20px;
}

.register-link {
  color: #d2a679;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1px solid #d2a679;
}
