<div class="Container">
  <label class="Container-icon">
    <span class="material-symbols-outlined">category</span>
    Categoria
  </label>

  <select class="Container-form">
    <option value="">Selecione uma categoria</option>
    <option value="operacional">Operacional</option>
    <option value="financeiro">Financeiro</option>
    <option value="estrategico">Estratégico</option>
    <option value="conformidade">Conformidade (Legal)</option>
    <option value="tecnico">Técnico</option>
    <option value="seguranca_trabalho">Segurança do Trabalho</option>
    <option value="ambiental">Ambiental</option>
    <option value="reputacao">Reputacional</option>
    <option value="ti">Tecnologia da Informação</option>
    <option value="outros">Outros</option>
  </select>
</div>
