<div class="Container">
  <label class="Container-icon">
    <span class="material-symbols-outlined">category</span>
    Categoria
  </label>

  <mat-form-field appearance="fill" class="Container-form">
    <mat-select placeholder="Selecione uma categoria">

      <mat-option value="operacional">Operacional</mat-option>
      <mat-option value="financeiro">Financeiro</mat-option>
      <mat-option value="estrategico">Estratégico</mat-option>
      <mat-option value="conformidade">Conformidade (Legal)</mat-option>
      <mat-option value="tecnico">Técnico</mat-option>
      <mat-option value="seguranca_trabalho">Segurança do Trabalho</mat-option>
      <mat-option value="ambiental">Ambiental</mat-option>
      <mat-option value="reputacao">Reputacional</mat-option>
      <mat-option value="ti">Tecnologia da Informação</mat-option>
      <mat-option value="outros">Outros</mat-option>

    </mat-select>
  </mat-form-field>
</div>
